.cell {
  background-color: gray;
}

.top_bun {
  border-radius: 88px 88px 40px 40px;
  background-color: #2f2f37;
  width: 564px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.bottom_bun {
  border-radius: 40px 40px 88px 88px ;
  background-color: #2f2f37;
  width: 564px;
  min-height: 80px;
  display: flex;
  justify-content: center;
  margin-top: auto;
  padding-top: 20px;
}
