.bg {
	height: 56px;
	border-radius: 40px;
	min-width: 150px;
	display: flex;
	align-items: center;
	padding: 16px 20px;
	box-sizing: border-box;
}

.disabled {
  pointer-events: none !important; /* Отключение кликов */
  cursor: not-allowed !important; /* Изменение курсора */
}
